$distance_sm:15px;
$distance_md:35px;
$distance_lg:45px;
$distance_elg:60px;




$main_radius:10px;
$maint_transition:.3s;



$main_color:#22a5f3;

$main_dark_color:#2196f3;
$font_p_color_sm:#a8a8a8;
$main_boxshadow:0px 2px 10px -5px #333 ;
$hover-color:#f3f3f3ee ;
$section-dark-color:#EEE ;
$gray-color:#777;



$big-font:50px;
$main-font:15px;
$lineheight:1.5;
$litterspacing:1.02px;
